<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
	<a class="navbar-brand" href="@HomePageUri"><i class="fa fa-sharp fa-solid fa-calendar-days"></i> SCHEDULER</a>

	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">

	  <ul class="navbar-nav me-auto mb-2 mb-lg-0">

		<li class="nav-item">
		  <a class="nav-link active" aria-current="page" href="@HomePageUri">Home</a>
		</li>

		<li class="nav-item">
		  <a class="nav-link" aria-current="page" href="@ProfilePageUri">Profile</a>
		</li>

		<li class="nav-item">
		  <a class="nav-link" aria-current="page" href="@TaskOverviewUri">Tasks</a>
		</li>
	  </ul>

	  <ul class="navbar-nav ms-auto">
		<li class="nav-item">
		  <a class="nav-link" aria-current="page" href="@LoginUri">Login</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link" aria-current="page" href="@RegisterUri">Register</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link" aria-current="page" href="@AboutUri">About</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link" aria-current="page" href="@ContactUri">Contact</a>
		</li>
	  </ul>

	</div>
  </div>
</nav>

@code {

	public const string HomePageUri = "/";
	public const string ProfilePageUri = "/profile";
	public const string TaskOverviewUri = "/tasks";
	public const string LoginUri = "/login";
	public const string RegisterUri = "/register";
	public const string AboutUri = "/about";
	public const string ContactUri = "/contact";

}
